/*$box-shadow : -10px 10px 45px rgba(0, 0, 0, 0.32);*/
body {
  background: #e9f5a9 !important; }

.sts-input:focus {
  border-bottom: solid 1px #567304 !important; }

select, input {
  border: 1px solid #759c05 !important; }

.input-icon > input:focus + [class*="fa-"],
.input-icon > input:focus + [class*="clip-"] {
  color: #567304; }

.sts {
  color: #567304; }

a.sts:hover, a.sts:focus {
  color: #567304; }

.btn-sts {
  background-color: #567304;
  border-color: #759c05;
  color: #fff; }

.btn-sts:hover,
.btn-sts:focus,
.btn-sts:active,
.btn-sts.active {
  background-color: #759c05 !important;
  border-color: #759c05 !important;
  color: #fff; }

.btn-hi-sts {
  background-color: #759c05;
  border-color: #567304;
  color: #fff; }

.btn-hi-sts:hover,
.btn-hi-sts:focus,
.btn-hi-sts:active,
.btn-hi-sts.active {
  background-color: #567304 !important;
  border-color: #567304 !important;
  color: #fff; }

.navmenu li a {
  color: #e9f5a9; }

.navmenu li.active a {
  color: #567304; }

ul.navmenu {
  background: #567304; }

body.showFixedSideMenu ul.navmenu {
  background: #e6f2a7; }

.navmenu li:hover > a {
  background: #e6f2a7;
  color: #567304; }

ul.navmenu li ul.submenu {
  background: #e6f2a7; }

ul.navmenu li ul li a {
  color: #567304;
  border-bottom: solid 1px #567304; }

ul.navmenu li ul li:hover a {
  color: #567304; }

ul.navmenu li ul li a {
  color: #567304;
  border-bottom: solid 1px #567304; }

ul.navmenu li ul.submenu li a {
  color: #567304;
  border-bottom: solid 1px #567304;
  width: 100%; }

ul.navmenu li ul.submenu li:hover a {
  color: #567304;
  border-bottom: solid 1px #567304; }

ul.navmenu li ul.submenu {
  border-right: 5px solid #759c05; }

.has-submenu:after {
  color: #759c05; }

.has-submenu.open:after {
  color: #759c05; }

.active {
  background: #e9f5a9;
  color: #567304; }

ul.sub-submenu li a {
  color: #567304 !important;
  background: #d9eb7b !important; }

.submenu .menu-title {
  color: #567304; }

.sub-submenu li:hover a {
  color: #759c05 !important; }

.breadCrumbNavigation li a {
  color: #a0d607; }

.breadCrumbNavigation li a:hover {
  color: #f5fad7; }

.breadCrumbNavigation li.active a, .breadCrumbNavigation li.active {
  color: #759c05;
  background: transparent; }

.styleOptionsWrapper {
  background: #fff; }

.summaryBlockItem {
  background: #567304; }

.summaryBlockItem span.strong {
  color: #e9f5a9; }

/*Grid*/
.dropdown-menu {
  border-radius: 0;
  padding: 0;
  background: #e9f5a9;
  border: solid 1px #759c05; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background: #759c05;
  color: #e9f5a9; }

.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active {
  background-color: #e9f5a9; }

.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > thead > tr.success > th,
.table > thead > tr > td.success,
.table > thead > tr > th.success {
  background-color: #abc068;
  color: #f5fad7; }

.table > tbody > tr:nth-child(odd),
.table > tfoot > tr:nth-child(odd),
.table > thead > tr:nth-child(odd) {
  background-color: #e9f5a9; }

.ui-jqgrid-labels {
  background-color: #d3deb0 !important; }

/*Flex Forms*/
.formContainerWrapper h2 {
  background: #d3deb0; }

.flexform-item {
  /*background: lighten($sandwisp-secondary,60%);*/ }

/*dateDropper*/
div.datedropper.custom-datedropper {
  border-radius: 8px;
  width: 175px; }

div.datedropper.custom-datedropper .picker {
  border-radius: 8px;
  box-shadow: 0 0 22px 0px rgba(0, 0, 0, 0.17); }

div.datedropper.custom-datedropper .pick-l {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }

div.datedropper.custom-datedropper:before,
div.datedropper.custom-datedropper .pick-submit,
div.datedropper.custom-datedropper .pick-lg-b .pick-sl:before,
div.datedropper.custom-datedropper .pick-m,
div.datedropper.custom-datedropper .pick-lg-h {
  background-color: #567304; }

div.datedropper.custom-datedropper .pick-y.pick-jump,
div.datedropper.custom-datedropper .pick li span,
div.datedropper.custom-datedropper .pick-lg-b .pick-wke,
div.datedropper.custom-datedropper .pick-btn {
  color: #567304; }

div.datedropper.custom-datedropper .picker,
div.datedropper.custom-datedropper .pick-l {
  background-color: #eff8c0; }

div.datedropper.custom-datedropper .picker,
div.datedropper.custom-datedropper .pick-arw,
div.datedropper.custom-datedropper .pick-l {
  color: #567304; }

div.datedropper.custom-datedropper .pick-m,
div.datedropper.custom-datedropper .pick-m .pick-arw,
div.datedropper.custom-datedropper .pick-lg-h,
div.datedropper.custom-datedropper .pick-lg-b .pick-sl,
div.datedropper.custom-datedropper .pick-submit {
  color: #e9f5a9; }

div.datedropper.custom-datedropper.picker-tiny:before,
div.datedropper.custom-datedropper.picker-tiny .pick-m {
  background-color: #e9f5a9; }

div.datedropper.custom-datedropper.picker-tiny .pick-m,
div.datedropper.custom-datedropper.picker-tiny .pick-m .pick-arw {
  color: #567304; }

div.datedropper.custom-datedropper.picker-lkd .pick-submit {
  background-color: #e9f5a9;
  color: #567304; }

body.showFixedSideMenu .closeMnu {
  background-color: #567304; }

.filter-background {
  background: #f3fed5;
  border: solid 1px #759c05; }

.headerBar {
  background: #567304; }

.menuToggle > a {
  background: #759c05;
  color: #567304 !important; }

.menuToggle > a:hover {
  background: #567304 !important;
  color: #759c05 !important; }

.inner-logo {
  background: #e9f5a9; }

/*# sourceMappingURL=sandwisp.css.map */
